{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}



    <div class="contact-area d-flex align-items-center" style="background-image:url();">

        <div class="contact-info">
            <h2>How to Find Us</h2>
            <p>Jnv Merchandise </p>

            <div class="contact-address mt-50">
                <p><span>address     :</span>Flat no.3,Rohanand Apartment,Talegaon Dabhade,Pune</p>
                <p><span>telephone   :</span>9689140914/9359184123</p>
                <p><span>E-mail   :</span><a href="mailto:jnvmerchandise@gmail.com">jnvmerchandise@gmail.com</a></p>
            </div>
        </div>

    </div>

   
{% endblock %}